.newProduct{
    width: 100%;
    height: 100%;
    // border: 1px solid red;
    overflow: auto;
    &_top{
        &_category,
      &_subcategory {
        flex: 2;
      }
      &_type {
        flex: 1;
      }
      &_name {
        flex: 3;
      }
      &_desc {
        flex: 3;
      }
    }
    &_card{
        &_parent{
            gap: 2rem;
            &_unitLeft{
                flex: .4;
                &_item{
                  margin: 0 ;
                  margin-bottom: 1rem;
                  &_choose{
                    color: black !important;
                    display: flex;
                    align-items: center;
                    font-size: 1.6rem;
                    justify-content: center;
                    background-color: transparent;
                    transition: all .7s;
                    cursor: pointer;
                    border-color: #60a6ab !important;
                    &:hover{
                      transform: scale(1.04);
                    }
                  }
                  &_isMain{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  }
                  .mainUnitSelectActive :global(.ant-select-selector) {
                background-color: #f3f5f6 !important;
                border-radius: 6px;
                border-color: #ebeaea;
              }
                }
                &_button{
                   width: 100%;
                margin-top: 1rem;
                background:linear-gradient(to bottom, #90e0f5, #F7FCFC,); 
                color: #1C1E1F;
                font-size: 1.2rem;
                font-weight: 600;
                &:hover{
                  background:linear-gradient(to bottom, #C5F1FC, #F7FCFC) !important; 
                    color: #1C1E1F !important;
                    border: none;
                }
                }
            }
            &_unitRight{
                flex: 1;
                &_tags{
                  &_item{
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: .4rem;
                  }
                  &_delete_unit_button{
                    flex: 1;
                  }
                }
                &_units{
                  margin-top: 2rem;
                }
                &_barcodes{
                  width: 30%;
                  &_item{
                    margin: 0;
                    position: relative;
                    &_input{
                    }
                    &_delete_button{
                      transition: all .7s;
                      position: absolute;
                      right: -12%;
                      top: 50%;
                      transform: translate(0,-50%);
                      cursor: pointer;
                      color: red;
                      &:hover{
                        // transform: scale(1.1);
                        color: rgb(193, 5, 5);
                      }

                    }
                  }
                   
                  
                  &_add_button{
                    width: 60%;
                    margin-top: 1rem;
                  }
                }
            }
        }
    }
    &_button{
        margin-top: 1rem;
        width: 100%;
    }
}