.app {
  width: 100%;
  height: 100dvh;
  padding: 3rem;
  gap: 2rem;
  background: #d1dcdb;
}
.aut_app{
    width: 100%;
    height: 100dvh;
}
.app_sider {
  height: 100%;
  border-radius: 2rem;
  background-color: #f3f5f5;
  position: relative;
}
.app_layout {
  gap: 2rem;
  background: transparent;
}
.app_menu {
  background: transparent !important;
  border-radius: 2rem;
}
.app_menu_item {
    background-color: transparent !important;
    /* font-weight: bold; */
}
.app_menu_item_child{
    /* background: white !important; */
    font-weight: 400;
}

.app_menu .ant-menu-item-selected {
  background: linear-gradient(to right, #b2babc, #79959e) !important;
  color: #1f1e1c !important;
  border-radius: 2rem;
  /* font-weight: bold; */
}
.app_menu .ant-menu-item:hover {
  transition: all 0.7s;
  background-color: #bfc3c4 !important;
  border-radius: 2rem !important;
}
.app_menu_collapse_button{
    position: absolute;
    top: 4%;
    right: -6rem;
    transform: translate(0%, -50%);
}
.app_content{
    background-color: #EFEEF3;
    border-radius: 2rem;
    padding: 1rem;
}