*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
html {
  font-size: 62.5%;  
}
body{
  /* background-color: red; */
  font-size: 1.6rem; 
  line-height: 1.5;
  /* height: 100vh; */

}
li{
  list-style: none;
}
a{
  text-decoration: none;
}